@model IEnumerable<Models.User>

@{
    ViewBag.Title = "GetAllUsers";
}

<h2>GetAllUsers</h2>
<link href="~/Content/bootstrap.css" rel="stylesheet"/>
<style>
    td {
        padding: 5px;
        padding-right: 30px;
    }
</style>
<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="Search" placeholder="Search" class="form-control" />
        </div>
    </div>
</div>
<table>
    <tr class="Search" >
        <th>@Html.ActionLink("User", "GetAllUsers", new { sortOrder = ViewBag.NameSortParm })</th>
        <th>
            Photo
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="Search">
            <td>@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</td>
            <td>
                <img src="@Url.Content(item.Image)"  class="img-circle" style="width: 100px;
        height: 100px;
        border: 2px solid #808080;" multiple />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <a href="@Url.Action("Delete", "User", new { id = item.Id})" class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true">Delete</span></a>
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/search.js"></script>